<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="AppKey" value="767567120"/>
    <add key="AppSecret" value="5x30v57q1k9i59cm12dv5q50e0m7b1ecr507ig05"/>
    <add key="Account" value="18015510168"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExtMobileServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.189eyes.com:9000/cxf/ExtMobileService"
          binding="basicHttpBinding" bindingConfiguration="ExtMobileServiceSoapBinding"
          contract="Tykd.ExtMobileServicesPortType" name="ExtMobileServicesImplPort" />
    </client>
  </system.serviceModel>
</configuration>